/*-- scss:defaults --*/

$font-family-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI", sans-serif !default;
$font-family-monospace: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace !default;

$font-weight-base: 300 !default;

// Colors
$darkgrey: #121212;
$yellow: #FFC300;
$white: #FAF9F6;
$blue: #3399FF;

// Theme variables
$body-bg: $darkgrey !default;
$body-color: $white !default;
$code-block-bg: #1E1E1E !default;
$btn-code-copy-color: #AFAFAF !default;
$btn-code-copy-color-active: $blue !default;
$code-color: $blue !default;

$navbar-bg: $yellow !default;
$navbar-hl: #E0FFFF !default;
$dropdown-link-color: #E0FFFF !default;
$dropdown-link-hover-bg: $yellow !default;
$dropdown-link-active-bg: $blue !default;

/*-- scss:rules --*/

// Navigation
// .navbar-title,
// .nav-link,
// .navbar .dropdown-item {
//   font-family: $font-family-monospace;
// }

// Typography
p, ol, ul {
  font-family: $font-family-sans-serif;
  color: $body-color;
}

p {
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: $font-family-sans-serif !important;
  color: $white !important;
  font-weight: 300 !important;
}

h3 {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
}

// Math/theorem elements
.qed {
  float: right;
  color: $blue;
  font-style: italic;
  margin-left: 0.5em;
}

.quarto-xref,
.proof-title,
.theorem-title strong {
  color: $blue !important;
}

.quarto-xref {
  text-decoration: none !important;
}

.theorem-title strong::after {
  content: "." !important;
  margin-right: 0.25em;
}

// Spacing adjustments
li p,
.theorem p {
  margin-bottom: 0 !important;
}

.theorem {
  font-size: 1.01rem;
}

// Callouts
.callout-note,
.callout-tip {
  border: 0 solid $blue !important;
  border-left: 3px solid $blue !important;
  background-color: #3399FF1A !important;
  margin: 1rem 0 !important;
  font-size: 1.01rem;
}

.callout-note {
  padding-left: .5rem !important;
}

div.callout-note.callout-style-default > .callout-header {
  background-color: transparent !important;
  font-style: italic;
  font-family: $font-family-sans-serif;
  font-weight: 500 !important;
  color: $blue !important;
  font-size: 1rem !important;
}

// Margins and tooltips
.column-margin.column-container > *:not(.collapse):first-child {
  color: $body-color !important;
  font-family: $font-family-sans-serif !important;
}

.tooltip .tooltip-inner {
  background-color: $darkgrey !important;
  color: $white !important;
}

// Code styling
code {
  background-color: #1E1E1E !important;
  color: $blue !important;
}

a:hover code {
  color: rgba(121, 187, 252, 0.8) !important;
}

pre code {
  color: $white !important;
}