/*-- scss:defaults --*/

// Website font.
$font-family-sans-serif: "IBM Plex Mono", monospace !default;
$body-font-family: "IBM Plex Sans" !default;

$darkgrey: #121212;
$yellow: #FFC300;
$white: #E5E5E5;
$blue: #3399FF;

// Page background color and text color.
$body-bg: $darkgrey !default;
$body-color: $white !default;

// Navbar background color and active page text color.
$navbar-bg: $yellow !default;
$navbar-hl: #E0FFFF !default;

// Navbar dropdown colors.
$dropdown-link-color: #E0FFFF !default;
$dropdown-link-hover-bg: $yellow !default;
$dropdown-link-active-bg: $blue !default;

$code-block-bg: #1E1E1E !default;
$btn-code-copy-color: #AFAFAF !default;
$btn-code-copy-color-active: $blue !default;
$code-color: $blue !default;

$callout-color-note: $yellow !default;
$callout-border-scale: 0% !default;

// $code-block-border-left: true !default;

/*-- scss:rules --*/

code.sourceCode.python::before {
  content: "Python";
  color: #AFAFAF;
  display: block;
  margin-bottom: 1.5em;
  // border-bottom: 1px solid $white;
  // width: 1in;
}

code.sourceCode.r::before {
  content: "R";
  color: #AFAFAF;
  display: block;
  margin-bottom: 1.5em;
  // border-bottom: 1px solid $white;
  // width: 1in;
}

p {
  font-family: $body-font-family;
  line-height: 1.6;
  color: $body-color;
}

// .proof p:last-of-type::after {
//   content: "Q.E.D.";
//   color: $yellow;
//   margin-left: 0.5em;
//   float: right;
//   font-style: italic;
// }

.qed {
  float: right;          /* push it to the right margin */
  color: $blue;        /* yellow */
  font-style: italic;    /* optional */
  margin-left: 0.5em;    /* small spacing from text */
}

// .proof {
//   background-color: #3399FF1A !important;
//   padding: 1em !important;
//   padding-bottom: 0 !important;
//   margin-bottom: 1em !important;
//   border-radius: 4px !important;
//   border-left: 3px solid $blue !important;
// }

.quarto-xref {
  color: $white !important;
  text-decoration: none !important;
}

.proof-title {
  color: $blue !important;
}

li p {
  margin-bottom: 0 !important;
}

.theorem p {
  margin-bottom: 0 !important;
}

ol, ul {
  color: $body-color;
  font-family: $body-font-family;
}

h1, h2 {
  font-weight: 300;
}

.nav-link {
  font-family: $font-family-sans-serif !important;
}

.navbar ul.dropdown-menu {
    font-family: $font-family-sans-serif !important;
}

// Proofs
.callout-note {
  border: 0 solid $blue !important;
  border-left: 3px solid $blue !important;
  background-color: #3399FF1A !important;
  // background-color: #3399FF1A !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding-left: .5rem !important;
  font-size: 1.5em !important;
}

// Definitions
.callout-tip {
  border: 0px solid $yellow !important;
  border-left: 3px solid $blue !important;
  background-color: #3399FF1A !important;
  // background-color: #FF33991A !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.callout.callout-style-default .callout-body {
  font-size: 1rem !important;
}

.callout.callout-style-simple .callout-body {
  font-size: 1em !important;
  margin-bottom: 0em !important;
  margin-top: 0em !important;
}

// Asides
.column-margin.column-container>*:not(.collapse):first-child {
  color: $body-color !important;
  font-family: $body-font-family !important;
}

div.callout-note.callout-style-default>.callout-header {
  background-color: #3399FF00 !important;

  font-style: italic;
  font-family: $body-font-family;
  font-weight: 500 !important;
  color: $blue !important;
  font-size: 1rem !important;
}

// .callout {
//     margin-top: 0.5rem !important;
//     margin-bottom: .5rem !important;
//     background-color: #3399FF00 !important;
// }

.theorem-title strong::after {
  content: "." !important;
  margin-right: 0.25em; 
}

.theorem-title strong {
  color: $blue !important;  /* your desired color */
}

.theorem.definition .theorem-title strong {
  color: $blue !important;  /* blue for definitions */
}

.tooltip .tooltip-inner {
  background-color: $darkgrey !important;
  color: $white !important;
}

pre code {
  color: $white !important;
}

// .table {
//     // color: $yellow !important;
//     // border-bottom: 0.5px solid $yellow !important;
//     // border-color: $yellow !important;
// }

pre.sourceCode {
  border-left-color: $yellow !important;
}

// caption {
//   color: $yellow !important;
// }

// th {
//   font-weight: 300;
//   color: $yellow !important;
//   border-bottom: 1px solid $yellow !important; /* sets color for inner grid lines */
//   border-top: 1px solid $yellow !important; /* sets color for inner grid lines */
// }