---
layout: default
title: projects + writings
---

<div id="projects-page">
    {% for category in site.categories reversed %}
    <h2>{{ category[0] }}</h2>
    <ul>
        {% for post in category[1] reversed %}
            {% assign date_format = site.date_format | default: "%b.%d %Y" %}
            <li>
                <a href="{{ post.url }}">part {{ forloop.index }} <span class="accent-color">...</span> {{ post.title }}, <i>posted {{ post.date | date: date_format }}</i></a>
            </li>
        {% endfor %}
    </ul>
    <br>
    {% endfor %}
</div>
