<div class="nav-center-white">
  <nav class="bar-white">

    <a href="/" class="accent-color2">root</a>
    
    <span style="font-size: 1.25em; margin: 0 25px;">\</span>
    
    <a href="/about.html" class="accent-color2">about</a>
    
    <span style="font-size: 1.25em; margin: 0 25px;">\</span>
    
    <a href="/projects.html" class="accent-color">projects + writings</a>
    
    <span style="font-size: 1.25em; margin: 0 25px;">\</span>

    <a href="http://www.johnmyersmath.com" class="accent-color2">academic website</a>
    
  </nav>
</div>