<nav>
  <ul class="navbar">
    <li><a href="/">root</a></li>
    <li>\</li>
    <li><a href="https://www.johnmyersmath.com/book/" target="_blank">probabilistic machine learning</a></li>
    <li>\</li>
    <li>
      <a href="#" class="accent-color">teaching</a>
      <ul class="dropdown">
        <li><a href="/teaching/calculus-ii-fa-25.html">-> calculus II</a></li>
        <li><a href="/teaching/analysis-fa-25.html">-> analysis</a></li>
      </ul>
    </li>
    <li>\</li>
    <li><a href="https://github.com/jmyers7" target="_blank"><img src="/assets/images/github-mark.svg" style="vertical-align: middle; width: 20px;" id="github-img"></a></li>
    <li>\</li>
    <li><a href="mailto:john.myers@oswego.edu"><img src="/assets/images/email-img.svg" style="vertical-align: middle; width: 20px;" id="email-img"></a></li>
  </ul>
</nav>

<script>
  hoverImage("github-img", "/assets/images/github-mark.svg", "/assets/images/github-mark-magenta.svg");
  hoverImage("email-img", "/assets/images/email-img.svg", "/assets/images/email-img-magenta.svg");
</script>