<div class="nav-center-white">
  <nav class="bar-white">

    <a href="/" {% if page.url == "/" %}class="accent-color"{% endif %}>root</a>
    
    <span style="font-size: 1.25em; margin: 0 5px;">\</span>
    
    <a href="/about.html" {% if page.url == "/about.html" %}class="accent-color"{% endif %}>about</a>
    
    <span style="font-size: 1.25em; margin: 0 5px;">\</span>
    
    <a href="/projects.html" {% if page.url == "/projects.html" %}class="accent-color"{% endif %}>projects + writings</a>

    <span style="font-size: 1.25em; margin: 0 5px;">\</span>

    <a href="https://mml.johnmyersmath.com/stats-book/intro.html">probabilistic machine learning</a>

    <span style="font-size: 1.25em; margin: 0 5px;">\</span>
    
    <a href="https://github.com/jmyers7">github</a>

    <span style="font-size: 1.25em; margin: 0 5px;">\</span>
    
    <a href="http://www.johnmyersmath.com">academic website</a>

    <span style="font-size: 1.25em; margin: 0 5px;">\</span>

    <a href="mailto:jmmyers25@gmail.com" class="accent-color2">email</a>

  </nav>
</div>