<div class="nav-center">
  <nav class="bar">

    <a href="/" {% if page.url == "/" %}class="accent-color"{% endif %}>root</a>
    
    <span style="font-size: 1.25em; margin: 0 25px;">\</span>
    
    <a href="/about.html" {% if page.url == "/about.html" %}class="accent-color"{% endif %}>about</a>
    
    <span style="font-size: 1.25em; margin: 0 25px;">\</span>
    
    <a href="/projects.html" {% if page.url == "/projects.html" %}class="accent-color"{% endif %}>projects + writings</a>

    <span style="font-size: 1.25em; margin: 0 25px;">\</span>

    <a href="https://mml.johnmyersmath.com/stats-book/intro.html">probability theory + ml book</a>

    <span style="font-size: 1.25em; margin: 0 25px;">\</span>
    
    <a href="http://www.johnmyersmath.com">academic website</a>
    
  </nav>
</div>