<div class="nav-center">
  <nav class="bar">

    <a href="/">root</a>
    
    <span style="font-size: 1.25em; margin: 0 25px;">\</span>
    
    <a href="/about.html">about</a>
    
    <span style="font-size: 1.25em; margin: 0 25px;">\</span>
    
    <a href="/projects.html"  class="accent-color">projects + writings</a>

    <span style="font-size: 1.25em; margin: 0 25px;">\</span>

    <a href="https://mml.johnmyersmath.com/stats-book/intro.html">math-stats book</a>
    
    <span style="font-size: 1.25em; margin: 0 25px;">\</span>

    <a href="http://www.johnmyersmath.com">academic website</a>
    
  </nav>
</div>