<nav>
  
  <div class="nav-item">
    <a href="/">root</a>
  </div>
  
  <div class="nav-item">
    <a href="/about.html">about</a>
  </div>
  
  <div class="nav-item">
    <a href="/projects.html" class="accent-color">projects + writings</a>
  </div>

  <div class="nav-item">
    <a href="https://mml.johnmyersmath.com/stats-book/intro.html" target="_blank">probabilistic machine learning</a>
  </div>

  <div class="nav-item">
    <a href="https://github.com/jmyers7" target="_blank">github</a>
  </div>
    
  <div class="nav-item">
    <a href="http://www.johnmyersmath.com" target="_blank">academic website</a>
  </div>

  <div class="nav-item">
    <a href="mailto:jmmyers25@gmail.com">email</a>
  </div>
      
</nav>