/**************** global stuff ****************/
* {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  // border: 1px solid red;
}

a {
  color: black;
}

a:hover {
  color: #fd46fc;
}

.accent-color {
  color: #486afb;
}

html {
  scroll-behavior: smooth;
}

/**************** title page ****************/

#name {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

#subtitle {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 15px;
}

/**************** containers ****************/

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 10;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/**************** navbar stuff ****************/

nav {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1em;
}

nav a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li ul.dropdown li {
  display: block;
  font-size: 1em;
  text-align: left;
}

nav ul li ul.dropdown {
  //width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}

nav ul li:hover ul.dropdown {
  display: block;
  padding-left: 10px;
  white-space: nowrap;
}

/**************** about page ****************/

#about-page {
  font-family: "IBM Plex Mono", monospace;
  width: 75%;
  margin: 10px auto;
}

/**************** class page ****************/

.class-info table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}

.class-info tr {
  border: 1px solid #ccc;
  text-align: left;
}

.class-info td {
  border: none;
  text-align: left;
}

.schedule section {
  margin-top: 30px;
}

.schedule table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.schedule th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}