/**************** global stuff ****************/
body {
  color: black;
  font-family: 'Lora', serif;
}

a:hover {
  color: #FD46FC;
}

a {
  color: black;
}

.accent-color {
  color: #486AFB;
}

/**************** title page ****************/

#name {
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}


#subtitle {
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 15px;
  font-size: 1em;
}

/**************** flex containers ****************/

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 1000;
}

.post-title {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  color:#486AFB;
  font-size: 1.25em;
  padding: 10px 0;
}

.content-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/**************** navbar stuff ****************/

.navbar {
  margin-top: 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 0.8em;
}

.nav-item {
  display: inline-block;
}

.navbar div+div::before {
  padding: 5px;
  content: "\\"; 
}

.navbar a {
  text-decoration: none;
}

/* this prevents the navbar from covering the target when a link to an anchor is pressed */
:target {
  scroll-margin-top: 80px; 
}

/**************** about page ****************/

.about-page {
  font-family: 'IBM Plex Mono', monospace;
  width: 75%;
  margin: 10px auto;
}

/**************** projects page ****************/

.category-headings {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.43em;
}

.projects-page a {
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 1.25em;
  text-decoration: none;
}

/**************** posts ****************/

/* section headings */
.post h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.25em;
}

.toc {
  text-decoration: none;
}

.highlight-box {
  background-color: #486AFB30;
  width: 85%;
  margin: 0 auto;
  padding: 1px 20px;
}

.highlight-box2 {
  background-color: #FD46FC30;
  width: 85%;
  margin: 0 auto;
  padding: 1px 20px;
}

.highlight-box3 {
  background-color: #FF000030;
  width: 85%;
  margin: 0 auto;
  padding: 1px 20px;
}

.caption {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

/* this changes the color of \eqref links */
mjx-container[jax="SVG"] > svg a[href] {
  /*fill: #e0e0e0;*/
  /*stroke: #e0e0e0;*/
  fill: black;
  stroke: black;
}