// * {
//   border: 1px solid red;
// }

/**************** global stuff ****************/
body {
  color: black;
  font-family: "Lora", serif;
  font-size: 16px;
}

a {
  color: black;
}

a:hover {
  color: #fd46fc;
}

.accent-color {
  color: #486afb;
}

html {
  scroll-behavior: smooth;
}


/**************** title page ****************/

#name {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

#subtitle {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 15px;
}

/**************** containers ****************/

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 10;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/**************** navbar stuff ****************/

nav {
  margin-top: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 0.8em;
}

.nav-item {
  display: inline-block;
}

nav div + div::before {
  padding: 5px;
  content: "\\";
}

nav a {
  text-decoration: none;
}

/**************** about page ****************/

#about-page {
  font-family: "IBM Plex Mono", monospace;
  width: 75%;
  margin: 10px auto;
}

/**************** projects page ****************/

#projects-page {
  font-family: "IBM Plex Mono", monospace;
}

#projects-page a {
  text-decoration: none;
  /*font-size: 1.25em;*/
}

/**************** posts ****************/

.post-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #486afb;
  font-size: 1.2em;
  margin-top: 10px;
  // margin-bottom: 5px;
  width: 75%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

/* section headings */
.post h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5em;
  font-weight: 400;
  color: #486afb;
  position: sticky;
  font-size: 1.2em;
}

.toc {
  text-decoration: none;
}

.defn {
  background-color: #486afb30;
  width: 85%;
  margin: 0 auto;
  padding: 1px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* deprecated! */
.highlight-box {
  background-color: #486afb30;
  width: 85%;
  margin: 0 auto;
  padding: 1px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.highlight-box2 {
  background-color: #fd46fc30;
  width: 85%;
  margin: 0 auto;
  padding: 1px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.highlight-box3 {
  background-color: #ff000030;
  width: 85%;
  margin: 0 auto;
  padding: 1px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.caption {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

/* this changes the color of \eqref links */
mjx-container[jax="SVG"] > svg a[href] {
  /*fill: #e0e0e0;*/
  /*stroke: #e0e0e0;*/
  fill: black;
  stroke: black;
}

.dropdown {
  display: none;
}

.post-name:hover {
  cursor: pointer;
  color: #fd46fc;
}

// .post-name {
//   position: relative;
// }

.post-name:hover .dropdown {
  display: block;
  // text-align: left;
  // left: 50%;
  // transform: translateX(-50%);
  background-color: white;
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown ul {
  padding: 0 10px;
  text-decoration: none;
  color: black;
  list-style-type: none;
}

.dropdown a {
  text-decoration: none;
}

/**************** code box styling ****************/

.code-container {
  position: relative;
  width: 85%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.copy-button {
  position: absolute;
  font-family: "Geneva";
  font-size: 0.8em;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: #808080;
  background-color: #f8f8f8;
  border: none;
  border-radius: 3px;
}
