/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

$font-family-sans-serif: "IBM Plex Sans", sans-serif !default;
$font-family-monospace: "IBM Plex Mono", monospace !default;

$darkgrey: #121212;
$yellow: #FFC300;
$white: #FAF9F6;
$blue: #3399FF;

$body-bg: $white !default;
$body-color: $darkgrey !default;

$presentation-font-size-root: 18px !default;
$presentation-font-smaller: 1 !default;

$callout-color-note: $blue !default;

$presentation-heading-font: $font-family-monospace !default;
$presentation-heading-font-weight: 300 !default;
$presentation-heading-color: $blue !default;

/*-- scss:rules --*/

/* Remove all borders except the left border from callouts */
.callout {

    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

/* Change font weight in body */
p {
  font-weight: 400 !important;
}

/* Bold text in paragraphs and other elements (but not callout titles) */
p strong, 
p b,
:not(.callout-title) > strong,
:not(.callout-title) > b {
  color: $blue !important;
  font-weight: 400 !important;
}

/* Change titles of callouts */
.callout-title strong, 
.callout-title b {
  font-weight: 400 !important;
}

/* Change color of the subtitle */
.subtitle {
  font-weight: 400 !important;
  font-size: 2rem !important;
  font-family: $font-family-monospace !important;
}
