<!doctype html>
<html lang="en">
  
  <head>
    
    <title>{{ page.title }}</title>

    <!-- font stuff -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;1,100;1,400&family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  
    <!-- latex stuff -->
    <script src="/assets/js/latex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-svg-full.js"></script>

    <!-- syntax highlighting stuff-->
    <link href="/assets/themes/prism.css" rel="stylesheet">
    <script src="/assets/js/prism.js"></script>
    
    <!-- custom scripts -->
    <script src="/assets/js/scripts.js"></script>

    {% assign post_num = page.slug | slice: -1, 1 %}
    <script>
      const pageNum = "{{ post_num }}"
    </script>

  </head>
  
  <body>
  
    <div class="header-container" id="header">
      {% include navigation-post.html %}
      <div class="post-title">  
        <div>{{ page.category }}</div>
        <div>{{ post_num }}. {{ page.title }}</div>
      </div>
    </div>
    
    <div class="content-container post" id="content">
      {{ content }}
    </div>
  
    <script>
      window.addEventListener('DOMContentLoaded', () => makeDefns(pageNum));
      window.addEventListener('load', () => adjustContentPadding("header", "content", 10));
      window.addEventListener('resize', () => adjustContentPadding("header", "content", 10));
    </script>

  </body>
</html>